<body>
<div class="container py-5">
      <a href="/">Return to the homepage</a>
<hr>


<%# The below code creates an array of 10 random names %>
<%= names = Array.new(10) { Faker::Name.unique.name  } %>
